.Definition {
    background-color: white;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    font-weight: 500;
    /* min-height: 100px; */
    border-radius: var(--radius);
    vertical-align: middle;
}