@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.Logo {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Nunito', sans-serif;
padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 2.2rem;
}