.Sidebar {
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--primary-light-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

ul {
    list-style: none;
    margin-top: 4rem;
}
.NavItem {
    color: var(--primary-light-color);
    list-style: none;
    display: inline-block;
    transition: all .2s ease-in;
    padding: 1rem 1.5rem;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
}

.NavItem:hover ,
.NavItem.active {
    background-color: #35A63A;
}